:root {
    --theme-color: #ff9854;
    /* 全局修改: 修改search样式 */
    /* --van-search-left-icon-color: var(--theme-color) !important;
    --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
    --van-primary-color: var(--theme-color) !important; */
    /* --van-text-color: var(--theme-color) !important; */
}


body {
    font-size: 14px;
    /* font-family: 'Courier New', Courier, monospace; */
}